@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <h3><a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="font-size:30px;color:#ffd600">Hello @User.Identity.Name!</a></h3>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link mr-2" asp-area="Identity" asp-page="/Account/Register"><h1 style="color:#ffd600;font-size:200%;">Register</h1></a>
    </li>
    <a style="color:#ffd600;font-size:200%;">/</a>
    <li class="nav-item">
        <a class="nav-link ml-2" asp-area="Identity" asp-page="/Account/Login"><h1 style="color:#ffd600;font-size:200%;">Login</h1></a>
    </li>
}
</ul>
