@{
    ViewData["Title"] = "Histórico";
}
<div class="text-center">
    <style>
         body {background-color: #9c9c9c;}
    </style>
    <p><b><h1 style="font-size:500%;color:#ffd600">Histórico de suas compras </h1></b></p>
</div>