@{ 
     ViewData["Title"] = "Home Page";
} 
<div class="text-center">
    <style>
         body {background-color: #9c9c9c;}
    </style>
<p><b><h1 style="font-size:700%;color:#ffd600">Bem Vindo Baladeiro!!!!!</h1></b> </p>
    <a><h1 style="font-size:300%;color:#ffd600">Ta pronto para começar a FESTA???</h1></p><img width="650" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d42ea46a-328e-41a7-a1f2-0ef4c7c9c02e/d5zq0vn-bcc69d70-d525-4f61-a974-a8b4241ae31a.png/v1/fill/w_1024,h_717,q_75,strp/los_consejos_del_tio_mordo_2_by_kol98-d5zq0vn.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9kNDJlYTQ2YS0zMjhlLTQxYTctYTFmMi0wZWY0YzdjOWMwMmUvZDV6cTB2bi1iY2M2OWQ3MC1kNTI1LTRmNjEtYTk3NC1hOGI0MjQxYWUzMWEucG5nIiwid2lkdGgiOiI8PTEwMjQiLCJoZWlnaHQiOiI8PTcxNyJ9XV19.wmmOglNei3QVRH1HLcFQYEl6EOtdnpe9TxaDTB4IILQ"/></a>
</div>